.main,
.sidebar
	.titulo-seccion
		h3
			font-family: $font-family2
			font-size: 1.5em //24px
			line-height: 1.5em //24px
			font-weight: normal
			color: $gris_oscuro
			padding-bottom: 0.62em //10px
			border-bottom: 4px solid $verde
			margin-bottom: 1.25em //20px

.main
	.titulo-seccion
		> div
			padding: 0
	.single-post
		margin-bottom: 1.25em //20px
		.post
			padding: 0
			.contenedor
				background: #fff
				-webkit-box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.3)
				box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.3)
			.thumb
				img
					vertical-align: top
					width: 100%
					height: auto
			.info
				padding: 1.25em //20px
				.titulo
					line-height: 1.125em //18px
					margin-bottom: 1.25em //20px
					a
						font-size: 1.125em //18px
						color: $gris_oscuro
				.fecha
					color: $gris_claro
					font-size: 0.875em //14px
					margin-bottom: 1.25em //20px
				.texto
					color: $texto
					font-size: 1em //16px
					line-height: 1.75em //28px
					p
						margin-bottom: 1em //16px
				.categorias
					ul
						list-style: none
						li
							display: inline-block
					margin-bottom: 1.25em //20px
					